table{
    margin-top: 7%;
    width: 100%;
}
.position-fixed{
    top: 15%;
    right: 5%;
    box-shadow: 2px 3px 2px rgb(136, 136, 136);
    background-color: bisque;
}
.avatar{
    max-width: 50px;
}