<header>
  <div class="head">
    <div class="d-flex flex-row align-items-end justify-content-end">
        <div></div>
      <div class=" p-5"><button (click)="navigate()" class="btn btn-lg bg-white text-black ">LOGIN</button></div>

    </div>
  </div>
</header>


<section id="banner-area" class="banner-area-section home-2">
  <div class="container">
    <div class="row">
      <div class="banner-area-content">
        <div class="banner-area-head">
          <h1 class="pb30">One Application</h1>
          <div class="banner-text pb40">
            <span>Pour bénificier de nos Services merci de télécharger notre application mobile via :</span>
          </div>
          <div class="download-store ul-li">
            <ul class="store-list">
              <li><a href="https://play.google.com/store?hl=en" target="blank"><img
                    src="assets/img/store/google.png"></a></li>
              <li><a href="https://itunes.apple.com/us/app/apple-store/id375380948?mt=8" target="blank"><img
                    src="assets/img/store/apple.png"></a></li>
            </ul>
          </div>

          <div class="banner-mock-up home-1 zooming">
            <img src="assets/app.png" alt="img">
          </div>

        </div><!-- /banner-area-head -->
      </div><!-- /banner-area-content -->
    </div><!-- /row -->
  </div><!-- /.container -->
</section>
