<mat-list class="align-items-center ">
    <mat-list-item class="d-flex flex-column justify-content-center align-items-center  mb-5 mt-2">
    <img src="assets/user.png" alt=""class="avatar" >
    </mat-list-item>
    <mat-divider></mat-divider>
  <div  class="d-flex flex-column justify-content-center align-items-center  mb-5 mt-2"><span class="b-0">Bienvenue  </span> <span class="user">  Najeh rouine</span> </div>
  <mat-list-item>
    <a mat-stroked-button href="/dashboard/users" >Gestion Membres</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-stroked-button href="/dashboard/bureaux" >Gestion Bureaux</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-stroked-button href="/dashboard/types" >Gestion Types</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-stroked-button href="/dashboard/domaines" >Gestion Domaines</a>
  </mat-list-item>
</mat-list>
